@media screen and (min-width:992px) {
  .navbar,
  .container-fluid,
  .navbar-collapse, .navbar-expand-lg .navbar-nav {
    flex-direction: column;
    background-color: #F3F4FF !important;
    /* align-items: flex-start !important; */
    /* z-index:1; */
  }

  .navbar {
    width: 20vw;
    height: 100vh;
    position: fixed;
    z-index: 1;
  }

  nav.navbar.navbar-expand-lg.shadow.p-3 {
    background-color: #F3F4FF !important;
    min-height: 500px;
  }

  a.navbar-brand {
    margin-left: .5rem;
    margin-top: 1rem;
  }

  .navabar .navabar-nav .nav-link {
    color: #000;
  }
}

  .navbar *:focus{
    background: none;
  }

  .navbar-toggler{
    border: none;
  }
  
  .navbar-toggler:hover{
    border: 1px solid #005CFF !important;
    background-color: #005CFF;
  }

  .navbar-toggler:focus {
    text-decoration: none;
    outline: none;
    box-shadow: 0 0 0;
  }

  .navbar-toggler-icon {
    background-image: url("../../../assets/icons/Hamburger.png");
  }

  .navbar-toggler-icon:hover {
    background-image: url("../../../assets/icons/hamburger-white.png");
  }

  .navbar .navbar-nav .nav-link {
    color: #000;
  }

  .navbar-brand {
    font-size: 1.5em !important;
    font-weight: bold !important;
    color: #000;
  }

  .navbarlogo {
    margin-bottom: 24px;
    margin-top: 30px;
  }

  .img-fluid{
    max-width: 80% !important;
  }

  .nav-link {
    color: #005CFF !important;
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 400;
    font-size: 19px;
    line-height: 26px;
  }

  .sub-nav-link {
    color: #005CFF !important;
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    margin-left: 60px;
    margin-top: 10px;
    margin-bottom: 10px;
    text-decoration: none;
  }

  .nav-item {
    margin: 9px;
    margin-left: 8px;
    list-style-type: none;
    width: 15vw;
  }

  @media (max-width: 992px) {
    .nav-item {
      width: 100%;
    }
  }

  .logoutItem {
    position: relative;
    margin-bottom: 8px;
  }

  @media (min-width: 993px){
    .logout {
      position:absolute;
      bottom: 24px;
      left: 42px;
      margin-top: 330px;
    }
  }

  .menuItemContainer {
    display: flex;
    justify-content: left;
    align-items: center;
    width: 15vw;
  }

  .menuItemContainer:hover, .accordion-button:hover img, .accordion-button:hover span, .navbarlogo:hover{
    opacity: 0.5;
  }

  .accordion-button.open{
    background: rgba(0, 92, 255, 0.03);
  }
  
  .accordion-button.close{
    background: transparent;
  }

  @media (max-width: 992px) {
    .menuItemContainer {
      width: 100%;
    }
  }

  .menuIcon {
    max-width: 35px;
    max-height: 35px;
    margin-right: 30px;
  }

  .active {
    font-size: 19px;
    text-decoration: none;
  }
  .subactive{
    background-color: rgba(0, 92, 255, 0.03);
    text-decoration: underline;
    margin-left: 60px;
    margin-top: 10px;
    margin-bottom: 10px;
  }

  .rotate-up {
    transform: rotate(180deg);
  }

  .rotate-right {
    transform: rotate(270deg);
  }
  
  .rotate-down {
    transform: rotate(0deg);
  }
  
  .rotate-up,
  .rotate-down {
    transition: transform 0.3s ease-in-out;
  }

  .arrow{
    margin-left: 20px;
  }
