.message1 {
  position: absolute;
  top: 79%;
  left: 700px;
  transform: translateY(-50%);
  padding: 10px;
  border-radius: 20px;
  font-weight: bold;
}
.success {
  background-color: transparent;
  color: green;
}

.error {
  background-color: transparent;
  color: red;
}
