.title{
    color: #005CFF;
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 48px;
    margin: 24px;
}
.ag-theme-alpine {
    /* disable all borders */
    --ag-borders: none;

}

.ag-theme-alpine {
    --ag-header-height: 100px;
    --ag-header-foreground-color: black;
    --ag-header-background-color: white;
    font-size: 16px;
}
.ag-root-wrapper { border-radius: 20px }

.custom-header {
    display: flex;
    align-items: center;
    gap: 5px;
  }
  
  .custom-header input {
    width: 100px;
  }
  
  :focus {
    background: #F7FAFF;
  }
  
  .rag-red-outer .rag-element {
    background-color: #BA3800;
    border-radius: 1em;
    padding: 0.3em 0.5em;
  }
  
  .rag-green-outer .rag-element {
    background-color: #00BA98;
    border-radius: 1em;
    padding: 0.3em 0.5em;
  }
  
  .rag-yellow-outer .rag-element {
    background-color: rgba(123, 123, 3, 0.434);
    border-radius: 1em;
    padding: 0.3em 0.5em;
  }

  .rag-orange-outer .rag-element {
    background-color: rgb(221, 164, 59);
    border-radius: 1em;
    padding: 0.3em 0.5em;
  }

  .root {
    margin-left: 48px;
    width: 75vw;
}

.download-icon {
  width: 20px;
  height: 20px;
}
