body {
  font-family: 'Nunito';
}

.title {
  color: #005CFF;
  font-weight: 400;
  font-size: 20px;
  line-height: 48px;
  margin: 1rem;
}

.text-drop {
  font-weight: 400;
  font-size: 17px;
}

.color-drop-blue {
  color: #005CFF;
}

.color-drop-yellow {
  color: #FFBC11;
}


.ag-theme-alpine {
  --ag-header-height: 100px;
  --ag-header-foreground-color: black;
  --ag-header-background-color: white;
  font-size: 16px;
  --ag-borders: none;
}

.ag-theme-alpine .ag-cell {
  border: none;
}

.ag-theme-alpine .ag-row {
  border-bottom: none;
}

.ag-theme-alpine ::-webkit-scrollbar {
  width: 12px;
  background-color: #f5f5f5;
  /* Cambia el color de fondo a tu elección */
}

.ag-theme-alpine ::-webkit-scrollbar-thumb {
  background-color: #005CFF;
  /* Cambia el color del scroll a tu elección */
  border-radius: 20px;
}

.ag-theme-alpine ::-webkit-scrollbar-thumb:hover {
  background-color: #005CFF;
  /* Cambia el color del scroll en hover a tu elección */
}

.ag-root-wrapper {
  border-radius: 20px
}

:focus {
  background: #F7FAFF;
}

.rag-rejected-outer .rag-element {
  background-color: #FF6A36;
  border-radius: 1em;
  padding: 0.4em 0.7em;
}

.rag-payed-outer .rag-element {
  background-color: #00C7E2;
  border-radius: 1em;
  padding: 0.4em 0.7em;
}

.rag-received-outer .rag-element {
  background-color: #97A4FF;
  border-radius: 1em;
  padding: 0.4em 0.7em;
}

.rag-pending-outer .rag-element {
  background-color: #FFBC11;
  border-radius: 1em;
  padding: 0.4em 0.7em;
}

.rag-undefined-outer .rag-element {
  background-color: #A67C52;
  border-radius: 1em;
  padding: 0.4em 0.7em;
}


.inputTextbox {
  box-sizing: border-box;
  border: 1px solid #D9D9D9;
  border-radius: 100px;
  padding: 10px;
  margin-top: 10px;
  margin-right: 20px;
  width: 100%;
}

.form-row {
  display: flex;
}

.form-column {
  margin-right: 0px;
}

.label {
  font-weight: 400;
  font-size: 18px;
  line-height: 25px;
  color: #005CFF;
  margin-top: 20px;
}

.dashboard-titles {
  font-weight: 400;
  font-size: 17px;
  line-height: 25px;
  color: #005CFF;
  margin-top: 20px;
  margin-bottom: 20px;
  border-bottom: 1px solid #eaf1ff;
  width: 100%;
}

.dashboard-text {
  font-weight: 100;
  font-size: 15px;
  line-height: 20px;
  color: #999999;
  margin-top: 2px;
  letter-spacing: 3px;
}

.dashboard-subtext {
  font-family: 'Nunito';
  font-weight: 100;
  font-size: 9px;
  line-height: 20px;
  color: #005CFF;
  margin-top: 2px;
  letter-spacing: 3px;
}

.dashboard-titles-invoices {
  font-weight: 400;
  font-size: 17px;
  line-height: 25px;
  color: #005CFF;
  margin-top: 20px;
  margin-bottom: 20px;
  width: 100%;
}

.panel {
  background-color: transparent;
  /* Color de fondo blanco */
  padding: 2em;
  /* Espacio interno para separar los elementos del panel */
  width: 40vw;

}

.custom-width {
  width: 1358px;
}

.custom-width-progess {
  width: 1300px;
  background-color: #e7eaee;
  margin-left: 20px
}

.custom-progress .progress-bar {
  background-color: #005CFF;
  
  /* Color personalizado */
}

.upload-indicator {
  align-items: center;
}

.upload-icon {
  color: green;
  margin-right: 5px;
}

.upload-text {
  font-weight: 400;
  font-size: 17px;
  font-family: 'Nunito';
  line-height: 25px;
  margin-top: 20px;
}

.yellow{
  color: #FFBC11;
}

.blue{
  color: #005CFF;
}

.file-drop-zone {
  border: 'none';
  border-radius: 20px;
  margin: 1rem;
  padding: 2.5em;
  text-align: center;
  font-size: 18px;
  background-color: #eaf1ff;
  width: 40vw;
  transition: background-color 0.3s;
}

div.file-drop-zone-dragging {
  opacity: 0.5;
}

@media (max-width: 991px){
  .file-drop-zone {
    width: 50vw;
  }
}

.file-drop-zone-full {
  border: 'none';
  border-radius: 20px;
  margin: 1rem;
  padding: 2.5em;
  text-align: center;
  font-size: 18px;
  background-color: #eaf1ff;
  transition: background-color 0.3s;
}

/* Dashboard cards */
.card {
  border: none;
  border-radius: 20px;
  margin: 1rem;
  padding: 0.5rem;
  text-align: left;
  font-size: 18px;
  width: 40vw;
}

@media (max-width: 991px){
  .card {
    width: 50vw;
  }
}

.card-img {
  width: 8%;
  display: flex;
}

.card-container {
  margin-top: 1.5rem;
}

.eye-icon {
  text-align: left;
}

.file-drop-zone:hover {
  background-color: #eaf1ff;
}

.-dragging {
  border-color: #005CFF;
  background-color: #e6f7ff;
}


.drop-message {
  margin-bottom: 10px;
  color: #333;
}

.download-icon {
  width: 20px;
  height: 20px;
}

.process-button {
  background-color: #005CFF;
  color: white;
  padding: 5px 15px;
  border: none;
  border-radius: 20px;
  font-size: 15px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.process-button-yellow {
  background-color: #FFBC11;
  color: white;
  padding: 5px 15px;
  border: none;
  border-radius: 20px;
  font-size: 15px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.filters {
  margin: 5px;
  width: 98px;
  height: 20px;
  border-radius: 100px;
  font-style: normal;
  font-weight: 500;
  font-size: 13px;
  line-height: 11px;
  text-align: center;
  color: #ADB9FB;
  padding-bottom: 20px;
  padding-top: 10px;
  background: transparent;
  border: 2px solid #ADB9FB;
}

.filters:hover{
  opacity: 0.5;
}

.active-filters {
  margin: 5px;
  width: 98px;
  height: 20px;
  border-radius: 100px;
  font-style: normal;
  font-weight: 500;
  font-size: 13px;
  line-height: 11px;
  text-align: center;
  padding-bottom: 20px;
  padding-top: 10px;
  border: 2px solid #ADB9FB;
  background: #ADB9FB;
  color: white;
}

.states {
  margin: 6px;
  border-radius: 100px;
  font-size: 10px;
  line-height: 11px;
  text-align: center;
  color: #FFFFFF;
  padding: 5px 0;
}

.pending {
  background: #FFBC11;
}

.reject {
  background: #FF6A36;
}

.payed {
  background: #00C7E2
}

.received {
  background: #97A4FF;
}
.undefined{
  background: #A67C52
}

.count-states {
  text-align: center;
  font-weight: 400;
  font-size: 17px;
  line-height: 26px;
  color: #005CFF;
  margin-bottom: 0;
}

.process-button:hover {
  background-color: #0046b8;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.loading-icon {
  animation: spin 1s infinite linear;
  margin-right: 10px;
}

.custom-alert {
  background-color: #f0f0f0;
  width: 500px;
  margin-bottom: 30px;
  margin: 1rem;
}

.ag-header-cell-resize::after {
  background-color: white;
}

.ag-paging-panel {
  border-top-color: white;
}

.totals {
  font-family: 'Nunito';
  font-weight: 300;
  font-size: 17px;
  line-height: 25px;
  color: #999999;
  margin-top: 20px;
  border-bottom: 1px solid #eaf1ff;
  width: 100%;
  text-align: right;
}

.ag-chart-wrapper {
  border-radius: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.trashIcon {
  margin-left: 30px;
  height: 28px;
}

.opacity-hover-05:hover{
  opacity: 0.5;
}

/* .customHeaderMenuButton {
  float: left;
  margin: 0 0 0 3px;
  padding: 0;
  background: transparent;
  border: none;
  margin-left: 4px;
  position: absolute;
    right: 0;
} */

.customHeaderLabel {
  float: left;
  font-weight: 400;
  font-family: 'Nunito';
  margin: 0 0 0 3px;
}

.customSortDownLabel {
  float: left;
  margin: 0 0 0 3px;
  padding: 0;
  background: transparent;
  border: none;
  margin-left: 4px;
}

.customSortUpLabel {
  float: left;
  margin: 0;
  padding: 0;
  background: transparent;
  border: none;
  margin-left: 4px;
}

.customSortRemoveLabel {
  float: left;
  margin: 0 0 0 3px;
  font-size: 20px;
  padding: 0;
  background: transparent;
  border: none;
  margin-left: 4px;
}

.active, .customHeaderMenuButton:hover {
  color:  #005CFF;

}

/* ------------Floating filter styles-------------------- */

.ag-header-row.ag-header-row-column-filter{
  height: 50px !important;
  top: 80px !important;
}

.ag-theme-alpine input[class^=ag-]:not([type]), .ag-theme-alpine input[class^=ag-][type=text], .ag-theme-alpine input[class^=ag-][type=number], .ag-theme-alpine input[class^=ag-][type=tel], .ag-theme-alpine input[class^=ag-][type=date], .ag-theme-alpine input[class^=ag-][type=datetime-local], .ag-theme-alpine textarea[class^=ag-], .ag-theme-alpine-dark input[class^=ag-]:not([type]), .ag-theme-alpine-dark input[class^=ag-][type=text], .ag-theme-alpine-dark input[class^=ag-][type=number], .ag-theme-alpine-dark input[class^=ag-][type=tel], .ag-theme-alpine-dark input[class^=ag-][type=date], .ag-theme-alpine-dark input[class^=ag-][type=datetime-local], .ag-theme-alpine-dark textarea[class^=ag-] {
border-radius: 100px;
background: #F7FAFF;
}


.ag-theme-alpine .ag-ltr input[class^=ag-]:not([type]), .ag-theme-alpine .ag-ltr input[class^=ag-][type=text], .ag-theme-alpine .ag-ltr input[class^=ag-][type=number], .ag-theme-alpine .ag-ltr input[class^=ag-][type=tel], .ag-theme-alpine .ag-ltr input[class^=ag-][type=date], .ag-theme-alpine .ag-ltr input[class^=ag-][type=datetime-local], .ag-theme-alpine .ag-ltr textarea[class^=ag-], .ag-theme-alpine-dark .ag-ltr input[class^=ag-]:not([type]), .ag-theme-alpine-dark .ag-ltr input[class^=ag-][type=text], .ag-theme-alpine-dark .ag-ltr input[class^=ag-][type=number], .ag-theme-alpine-dark .ag-ltr input[class^=ag-][type=tel], .ag-theme-alpine-dark .ag-ltr input[class^=ag-][type=date], .ag-theme-alpine-dark .ag-ltr input[class^=ag-][type=datetime-local], .ag-theme-alpine-dark .ag-ltr textarea[class^=ag-] {
margin: 4px;
}

.ag-header.ag-pivot-off {
height: 135px !important;
min-height: 135px !important;
}


.ag-icon-filter::before {
  content: var(--ag-icon-font-code-filter, "\F3E1");
}

.ag-theme-alpine .ag-menu {
  background-color: #FAFAFA;
  color: #999999;
}

.ag-picker-field-wrapper {
  border-color: #FAFAFA;
  border-radius: 100px;
}

.ag-theme-alpine .ag-popup {
  background-color: red;
}
/*--------------------------------*/