@media screen and (min-width:992px) {
    .rootContainer {
        display: flex;
        align-items: baseline;
        background-color: white;
    }

    .mainContainer{
        display: flex;
        flex: 1;
        background-color: white;
    }
    
}