 
  .Auth-form-container {
    width: 100vw;
    height: 100vh;
    background-color: #005CFF;
    min-height: 500px;
  }

  .Auth-form {
    width: 420px;
    box-shadow: rgb(0 0 0 / 16%) 1px 1px 10px;
    /* border-radius: 8px; */
    background-color: white;
  }
  
  .Auth-form-title {
    font-size: 24px;
    color: rgb(34, 34, 34);
    font-weight: 700;
  }
  
  label {
    font-size: 14px;
    font-weight: 600;
    color: rgb(34, 34, 34);
  }

  .btn-primary {
    background-color: #005CFF !important;
  }

  .forgot-password {
    font-size: 12px;
  }